{% extends "login/base.html" %}

{% block content %}      

{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5" style="margin-left: 40%; margin-top: 5%;" >
  <h1 >Login</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="input-group mb-3" style="width: 300px; ">
      <input type="text" name="username" placeholder="Username..." class="form-control">
    </div>
    <div class="  input-group mb-3"  style="width: 300px;">
     
        <input type="password" name="password" placeholder="Password..." class="form-control" >
    </div>
    <div class=" input-group mb-3" >
      <input class="btn btn-primary" type="submit" value="Login">
    </div>
    {% for msg in messages %}
					<p id ='messages' style="color: red;">{{msg}}</p>
		{% endfor %}
  </form>
  <p class="mb-2">Don't have an account? <a href="#">Create an account</a>.</p>

</div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>
  $(document).ready(function(){
    $('#messages').delay(2000).fadeOut();
  });
</script>
{% endblock %}