{% extends 'base.html' %}



    {% block content %}
     

    {% load crispy_forms_tags %}
    {% if user.is_superuser %}
    <div class="container" style="padding: 40px;">
        <div class="card shadow col-lg-7 mx-auto">
            <div class="card-body">

                <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-success" type="Post">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% for post in allposts %}      
    <div class="container" style="padding: 10px;">
        <div class="card shadow col-lg-7 mx-auto">
                <div class="card-body">
                    <!-- Name of user and title -->
                <div class="row">
                    <small style="text-align: right;">{{post.created}}</small>
                    <hr>
                    <span> 
                        <img src="https://i.imgur.com/hczKIze.jpg" width="70" class="user-img rounded-circle mr-2"> 
                        <a class="h3" href="" style="text-decoration: none; margin-left: 5px">{{post.user}}</a>
                    </span>
		    <!-- post category -->
		    <div><span style='margin:10px auto' class="badge badge-secondary">{{ post.category }}</span></div>
		    <!-- <span>#{{ post.tags }}</span> -->
                    <div class="mt-1" style="text-align: justify; margin: 0px;">
                        <a class="h4" href="{% url 'post' post.id %}" style="text-decoration: none">{{post.title}}</a></span>
                        <p>{{post.body}}</p>
                    </div>
                </div>
                <!-- Image -->
                <div class="row">
                    {% if post.image %}
                    <div class="text-center">
                        <img src="{{ post.image.url }}" alt="image" class="img-thumbnail">
                    </div>
                    {% endif %}
                </div>
                </div>
            
        </div>

    </div>
   
    {% endfor %}
    
    {% endblock %} 
