
{% extends 'base.html' %}



{% block content %}
<br>


<div class="container" style="padding: 10px;">

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary" type="Post" href="{% url 'allposts' %}">Home</a>
        {% if user.is_superuser %}
        <a class="btn btn-info" type="Post" href="{% url 'editpost' post.id %}">Edit</a>
        <a class="btn btn-danger" type="Post" href="{% url 'deletepost' post.id %}">Delete</a>
        {% endif %}
    </div>
    <div class="card shadow col-lg-7 mx-auto">
        <!-- Post -->
        <div class="card-body">
                <!-- Name of user and title -->
            <div class="row">
                <small style="text-align: right;">{{post.created}}</small>
                <hr>
                <span> 
                    <img src="https://i.imgur.com/hczKIze.jpg" width="70" class="user-img rounded-circle mr-2"> 
                    <a class="h3" href="" style="text-decoration: none; margin-left: 5px">{{post.user}}</a>
                   
                </span>
		<!-- post category -->
		<div><span style='margin:10px auto' class="badge badge-secondary">{{ post.category }}</span></div>
		<!-- <span>#{{ post.tags }}</span> -->
                <div class="mt-1" style="text-align: justify; margin: 0px;">
                    <h4>{{post.title}}</h4>
                    <p>{{post.body}}</p>
                </div>
            </div>
            <!-- Image -->
            <div class="row">
                {% if post.image %}
                <div class="text-center">
                    <img src="{{ post.image.url }}" alt="image" class="img-thumbnail">
                </div>
                {% endif %}
            </div>

            <!-- Comments -->
            <div class="row d-flex justify-content-center mt-2">      
                <div class="col-md-11">
                    <span class="text-primary">Comments ({{ post.comment_count }})</span>
                    {% for comment in post.comment_set.all %}
                    <div class="card mt-1">
                        <div style="display: flex; margin-left: 10px; margin-top: 5px;">
                                <div>
                                    <img src="https://i.imgur.com/hczKIze.jpg" width="40" class="user-img rounded-circle mr-2">
                                </div> 
                                <div>
                                    <a class="h5" href="" style="text-decoration: none;margin-left: 5px;">{{ comment.user }}</a><br/>
                                    <small style="font-size: x-small; margin-left: 5px;">{{ comment.comment_data }}</small>
                                </div>
                        </div>
                        <p style="text-align: justify; margin-left: 20px; margin-top: 5px; margin-right: 20px;">{{ comment.body }}</p>
                    </div>  
                    {% endfor %}
                </div>
                <!-- Enter new Comment -->
                {% load crispy_forms_tags %}
                {% if user.is_authenticated %}
                <div class="row d-flex justify-content-center mt-2">
                    <form method="POST"> {% csrf_token %}
                        {{ comment_form|crispy }}
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-1">
                            <button class="btn btn-success" type="Save">Comment</button>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %} 
